<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.dao.FamilyDao">
    <select id="showById" parameterType="java.lang.String" resultType="FamilyNumber">
        select * from family where employee_id=#{id}
    </select>

    <insert id="add" parameterType="FamilyNumber">
        insert into family values(#{id},#{name},#{age},#{relationship},#{profession},#{phone},#{employee_id})
    </insert>

    <delete id="del" parameterType="java.lang.String">
        delete from family where id=#{id}
    </delete>
</mapper>